body {
    max-width: 1200px;
    min-width: 1200px;
    margin: auto;
    background-color: #cbcbcb;
    font-family: Arial, sans-serif;
}

a {
    color: #424242;
    text-decoration: none;
    transition: border-bottom 0.3s;
}

a:hover {
    border-bottom: 2px solid black;
}

header,
sidebar,
main,
footer {
    box-sizing: border-box;
    font-weight: bold;
    border: 2px solid black;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

header {
    width: 100%;
    height: 75px;
    background-color: #3498db;
    color: #fff;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration-line: none !important;
    font-family: "Caveat", sans-serif;
}

.logo img {
    width: 50px
}

.logo h1 {
    font-size: 20px;
    padding: 30px auto;
    text-decoration-line: none;
}

.nav-list {
    float: right;
}

.nav-list li {
    display: inline;
    margin: 0 20px;
    font-size: 15px;
}

.about-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
    border: 2px solid black;
}

h1#about-team {
    font-size: 30px;
}

h1#about-info, h1#about-github{
    font-size: 15px;
}

.manual-container {
    box-sizing: content-box;
    background-color: #f1f0f0;
    padding: 25px 10px;
    width: 400px;
    margin: auto;
}

h1#manual-name{
    font-size: 20px;
}

ol#manual-ol {
    list-style-position: inside;
    padding-left: 20px;
    margin-left: 0;
}

li#manual {
    margin-left: 0;
    padding-left: 5px;
    font-size: 15px;
}



footer {
    width: 100%;
    height: 75px;
    clear: both;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    text-align: center;
    font-size: 15px;
    line-height: 50px;
}