body {
    max-width: 1200px;
    min-width: 1200px;
    margin: auto;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

a {
    color: #424242;
    text-decoration: none;
    transition: border-bottom 0.3s;
}

header,
footer {
    box-sizing: border-box;
    font-weight: bold;
    border: 2px solid black;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

li a:hover,
p a:hover {
    border-bottom: 2px solid black;
}

header {
    width: 100%;
    height: 75px;
    background-color: #E3FDFD;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration-line: none !important;
    font-family: "Caveat", sans-serif;
}

.logo img {
    width: 50px
}

.logo h1 {
    font-size: 20px;
    padding: 30px auto;
    text-decoration-line: none;
}

.nav-list {
    float: right;
}

.nav-list li {
    display: inline;
    margin: 0 20px;
    font-size: 15px;
}
.contact-container {
    background-color: #fff;
    padding: 10px 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
    border: 2px solid black;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.contact-container p {
    font-size: 12px;
    margin-bottom: 5px;
    color: #555;
}

.contact-info {
    list-style: none;
    padding: 0;
    font-size: 12px;
    color: #333;
}

.contact-info li {
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 75px;
    clear: both;
    background-color: #E3FDFD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    text-align: center;
    font-size: 15px;
    line-height: 50px;
}