body {
    max-width: 1200px;
    min-width: 1200px;
    margin: auto;
    background-color: #cbcbcb;
    font-family: Arial, sans-serif;
}

a {
    color: #424242;
    text-decoration: none;
    transition: border-bottom 0.3s;
}

li a:hover,
p a:hover {
    border-bottom: 2px solid black;
}

header,
footer {
    box-sizing: border-box;
    font-weight: bold;
    border: 2px solid black;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

header {
    width: 100%;
    height: 75px;
    background-color: #E3FDFD;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration-line: none !important;
    font-family: "Caveat", sans-serif;
}

.logo img {
    width: 50px;
}

.logo h1 {
    font-size: 20px;
    padding: 30px auto;
    text-decoration-line: none;
}

.nav-list {
    float: right;
}

.nav-list li {
    display: inline;
    margin: 0 20px;
    font-size: 15px;
}

.main-container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: whitesmoke;
    color: white;
    padding: 10px 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    margin-right: 30px;
    margin-bottom: 30px;
}

.sidebar h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: blueviolet;
    text-decoration: none;
    font-size: 20px;
}

.sidebar ul li a:hover {
    border-bottom: 2px solid black;
}

.sidebar ul li a.active {
    color: red;
    font-weight: bold;
}

.help-container, .help-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
    border: 2px solid black;
}

h2 {
    color: #333;
    font-size: 18px;
}

.help-content p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
}

.help-info {
    list-style: none;
    padding: 0;
    font-size: 18px;
    color: #333;
}

.help-info li {
    margin-bottom: 20px;
}

.help-info p {
    margin: 50px 0;
}

footer {
    width: 100%;
    height: 75px;
    clear: both;
    background-color: #E3FDFD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    text-align: center;
    font-size: 15px;
    line-height: 50px;
}
