body {
    max-width: 4800px;
    min-width: 4800px;
    margin: auto;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

a {
    color: #424242;
    text-decoration: none;
    transition: border-bottom 0.3s;
}

a:hover {
    border-bottom: 2px solid black;
}

header,
main,
footer {
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid black;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

header {
    width: 100%;
    height: 300px;
    background-color: #3498db;
    color: #fff;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}


.logo a{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-decoration-line: none!important;
    font-family: "Caveat", sans-serif;
}
.logo img{
   width: 200px
}
.logo h1{
    font-size: 130px;
    padding: 0px 40px;
    margin: -20px;
    text-decoration-line: none;
}
.logo h2{
    font-size: 50px;
    padding: 33px 55px;
    margin: 0px;
    text-decoration-line: none;
}


.nav-list {
    float: right;
}

.nav-list li {
    display: inline;
    margin: 0 30px;
    font-size: 50px;
}

.about-container {
    background-color: #fff;
    padding: 100px 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1800px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
    border: 2px solid black;
}

h1#about-team {
    font-size: 120px;
}

h1#about-info, h1#about-github{
    font-size: 60px;
}

.manual-container {
    box-sizing: content-box;
    background-color: #f1f0f0;
    padding: 25px 10px;
    width: 2500px;
    margin: auto;
}

h1#manual-name{
    font-size: 60px;
}

li#manual {
    font-size: 60px;
    margin: 0;
}

ol#manual-ol {
    margin-left: 50px;
}

footer {
    width: 100%;
    height: 300px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.footer-container {
    text-align: center;
    font-size: 45px;
    line-height: 200px;
}
