body {
    max-width: 4800px;
    min-width: 4800px;
    margin: auto;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #3498db;
    color: #fff;
    height: 300px;
    margin-bottom: 30px;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo_img {
    width: 200px;
}

.logo h1 {
    font-size: 60px;
    padding: 33px;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 0 30px;
}

.nav-list li a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    transition: border-bottom 0.3s;
}

.nav-list li a:hover {
    border-bottom: 2px solid black;
}

.main-container {
    display: flex;
    padding: 50px;
}

.sidebar {
    width: 1200px;
    background-color: whitesmoke;
    color: white;
    padding: 100px 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    margin-right: 30px;
}

.sidebar h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: blueviolet;
    text-decoration: none;
    font-size: 36px;
}

.sidebar ul li a:hover {
    border-bottom: 2px solid black;
}

.help-container, .help-content {
    background-color: #fff;
    padding: 100px 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
    border: 2px solid black;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 48px;
}

.help-content p {
    font-size: 36px;
    margin-bottom: 20px;
    color: #555;
}

.help-info {
    list-style: none;
    padding: 0;
    font-size: 36px;
    color: #333;
}

.help-info li {
    margin-bottom: 20px;
}

.help-info p {
    margin: 100px 0; 
}

footer {
    width: 100%;
    height: 300px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.footer-container {
    text-align: center;
    font-size: 45px;
    line-height: 200px;
}
