body {
    max-width: 4800px;
    min-width: 4800px;
    margin: auto;
}

header, sidebar, main, footer {
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid black;
}

header {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}

#logo {
    width: 200px;
    height: auto;
    float: left;
    padding-left: 50px;
}


sidebar { 
    width: 20%;
    height: 3600px;
    float: left;
    margin-bottom: 30px;
}

main {
    width: 70%;
    height: 3600px;
    float: right;
}


footer {
    width: 100%;
    height: 100px;
    clear: both;
}


.indicator-date {
    width: 100%;
    height: 5%;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 160px;
    font-size: 80px;
}

.calendar {
    height: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.month {
    margin: 30px;
    border: 1px solid black;
    display: grid;
}

.month-name {
    width: 100%;
    height: 120px;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    border-bottom: 1px solid black;
}

.days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, minmax(120px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.day {
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

.day:hover {
    background-color: rgb(195, 195, 195);
}

.day:active {
    background-color: rgb(233, 245, 255);
}

.selected {
    background-color: skyblue;
}