header, sidebar, main, footer {
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid black;
}

header {
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}

sidebar { 
    width: 20%;
    height: 1800px;
    float: left;
    margin-bottom: 30px;
}

main {
    width: 75%;
    height: 1800px;
    float: right;
}

.calendar {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
    width: 100%;
    height: 100px;
    clear: both;
}

.month {
    border: 1px solid black;
}