body {
    max-width: 4800px;
    min-width: 4800px;
    margin: auto;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

a {
    color: #424242;
    text-decoration: none;
    transition: border-bottom 0.3s;
}

a:hover {
    border-bottom: 2px solid black;
}

header,
sidebar,
main,
footer {
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid black;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

header {
    width: 100%;
    height: 300px;
    background-color: #3498db;
    color: #fff;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.logo {
    float: left;
    width: auto;
    line-height: 1;
    font-size: 60px;
    padding: 0;
}

.nav-list {
    float: right;
}

.nav-list li {
    display: inline;
    margin: 0 30px;
    font-size: 50px;
}

sidebar {
    width: 20%;
    height: 4000px;
    float: left;
    background-color: #f8f9fa;
    border-right: 2px solid #e0e0e0;
    margin-bottom: 30px;
    margin-right: 30px; /* 추가한 간격 */
}

.opacity {
    gap: 15px;
    height: 5%;
    display: flex;
    margin: 20px 0;
}

.button {
    border: 1px solid black;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 50px;
    grid-gap: 12px;
    border-radius: 50%;
}

main {
    width: calc(80% - 30px); 
    height: 4000px; 
    float: right;
    background-color: #ffffff;
}

.indicator-date {
    width: 100%;
    height: 5%;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 160px;
    font-size: 80px;
}

.calendar {
    height: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
}

.month {
    margin: 30px;
    border: 1px solid black;
    display: grid;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.month-name {
    width: 100%;
    height: 120px;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #3498db;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, minmax(120px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.day {
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
    padding: 10px;
    line-height: 95px;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.day:hover {
    color: red;
    background-color: #f1f1f1;
}

.day:active {
    background-color: rgb(233, 245, 255);
}

.color-effect {
    background-color: green;
}

#select-day {
    text-align: center;
    font-size: 100px;
}

#color-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-option {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    border: 4px solid #adadad;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s;
}

.color-option:hover {
    transform: scale(1.1);
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#indigo {
    background-color: indigo;
}

#violet {
    background-color: violet;
}

#selected-color {
    width: 120px;
    height: 120px;
    margin: 5px;
    padding-left: 1.5px;
    cursor: pointer;
    border: 2px solid #adadad;
    border-radius: 10px;
    background-color: green;
    margin: 0 auto;
    margin-top: 10px;
    transition: transform 0.3s;
}

#selected-color:hover {
    transform: scale(1.2);
}

footer {
    width: 100%;
    height: 300px;
    clear: both;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    text-align: center;
    font-size: 45px;
    line-height: 200px;
}