body {
    max-width: 4800px;
    min-width: 4800px;
    margin: auto;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 300px;
    background-color: #3498db;
    color: #fff;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.error {
    margin: 40px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 48px;
    width: 80%;
    color: rgb(203, 78, 78);
    background-color: rgb(255, 188, 188);
}

.success {
    margin: 40px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 48px;
    font-weight: bold;
    width: 80%;
    color: rgb(86, 170, 63);
    background-color: rgb(215, 255, 207);
}

a {
    color: #424242;
    text-decoration: none;
    transition: border-bottom 0.3s;
}

a:hover {
    border-bottom: 2px solid black;
}

.login-container a {
    font-size: 50px;
}

.logo a{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-decoration-line: none!important;
    font-family: "Caveat", sans-serif;
}
.logo img{
   width: 200px
}
.logo h1{
    font-size: 130px;
    padding: 0px 40px;
    margin: -20px;
    text-decoration-line: none;
}
.logo h2{
    font-size: 50px;
    padding: 33px 55px;
    margin: 0px;
    text-decoration-line: none;
}
.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 0 30px;
    font-size: 50px;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
}

.nav-list li a:hover {
    border-bottom: 2px solid black;
}

.login-container {
    background-color: #fff;
    padding: 100px 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 2800px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
    border: 2px solid black;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 48px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 40px;
    color: #555;
    text-align: left;
    font-size: 48px;
    width: 80%;
}

input {
    margin-bottom: 40px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 48px;
    width: 80%;
}

button {
    margin-top: 10px;
    padding: 40px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 48px;
    width: 50%;
}

button:hover {
    background-color: #0056b3;
}

footer {
    width: 100%;
    height: 300px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.footer-container {
    text-align: center;
    font-size: 45px;
    line-height: 200px;
}
